/* panier */
.panier {
	display: flex; /* Met le panier visible dès que la page est chargée */
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 30%;
	height: auto;
	min-height: 100%;
	padding: 5vh 2vw;
	position: absolute;
	background-color: white;
	right: 0;
	top: 0;
	z-index: 999;
	border-top-left-radius: 2.5vw;
	border-bottom-left-radius: 2.5vw;
	border-left: 0.1vw solid #e6e6e6;
	transition: all 0.5s ease;
	transform: translateX(0%); /* Assurez-vous qu'il est visible au début */
}
.panier_top {
	width: 100%;
}

.panier hr {
	border: 0.1vw solid #000000;
	width: 100%;
	margin: 2vh 0;
	/* color: #000000; */
}

.panier .panier_entete {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
}

.panier .panier_entete p {
	font-size: 1.5vw;
}

.panier .panier_entete img {
	width: 1.5vw;
	cursor: url(../img/main.svg) 10 10, auto;
}

.panier .panier_produit_container {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 1vw;
}

.panier .panier_produit_container .panier_produit {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 25%;
	gap: 1vw;
	border-radius: 0.5vw;
	/* background-color: #e6e6e6; */
}

.panier .panier_produit_container .panier_produit img {
	width: 5vw;
	height: auto;
	border-radius: 0.5vw;
}

.panier .panier_produit_container .panier_produit .panier_produit_infos {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	gap: 0.5vh;
	width: 100%;
}

.panier .panier_produit_container .panier_produit .panier_produit_infos .nom {
	font-size: 1.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.nom
	img {
	width: 1vw;
	cursor: url(../img/main.svg) 10 10, auto;
	font-weight: 100;
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 69%;
	font-family: "segoe ui", sans-serif;
	margin-bottom: 2vh;
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.category
	h3 {
	font-weight: 400;
	font-size: 1.2vw;
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.category
	.type {
	font-size: 1vw;
	font-weight: 100;
}

.panier .panier_produit_container .panier_produit .panier_produit_infos .price {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	width: 100%;
	font-family: "segoe ui", sans-serif;
	gap: 2vw;
	/* margin-right: 5vw; */
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.price
	.nb_article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 35%;
	font-size: 1vw;
	border: 0.1vw solid #000000;
	padding: 0.5vh 1vw;
	border-radius: 25vw;
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.price
	.prix {
	font-size: 1.5vw;
	font-family: "Marine Sikona", sans-serif;
}

.panier
	.panier_produit_container
	.panier_produit
	.panier_produit_infos
	.price
	.nb_article
	button {
	font-size: 1.5vw;
	cursor: url(../img/main.svg) 10 10, auto;
	border: none;
	background-color: transparent;
}

.panier_bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
}

.panier_bottom .panier_total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	font-size: 1.5vw;
}

.panier_bottom .panier_total .panier_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	font-size: 1.5vw;
	font-family: "segoe ui", sans-serif;
}

.panier_bottom .panier_total .panier_btn hr {
	width: 100%;
	height: 0.1vw;
	background-color: #000000;
	border: none;
}

.panier_bottom .panier_btn button {
	font-size: 1vw;
	cursor: url(../img/main.svg) 10 10, auto;
	border: none;
	background-color: #2f2e2e;
	color: white;
	padding: 2vh 4vw;
	border-radius: 25vw;
}

.panier_bottom .panier_btn button:hover {
	background-color: #000000;
}
