main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: auto;
	padding: 5vh 10vw;
}

main h1 {
	font-size: 2vw;
	font-weight: bolder;
	margin-bottom: 5vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vh;
	width: 40%;
	height: auto;
	padding: 10vh 5vw 5vh 5vw;
	background-color: #f8f9fa;
	border-radius: 1vw;
}

.form button {
	font-size: 1vw;
	width: 20vw;
	height: 6vh;
	border-radius: 0.7vw;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

.form .fb {
	background-color: #0866ff;
	color: white;
	font-family: "Marine Sikona", sans-serif;
	font-weight: lighter;
	transition: all 0.5s ease-in-out;
}

.form .fb:hover {
	background-color: white;
	color: #0866ff;
	transform: scale(1.04);
	filter: drop-shadow(1vh 1vh 1vw #0000006e);
	cursor: url(../img/main.svg) 10 10, auto;
}

.form .fb:hover > .fa-facebook-f {
	color: #0866ff;
}

.form .google {
	background-color: white;
	border: 0.1vw solid #737373;
	font-family: "Marine Sikona", sans-serif;
}

.form .google:hover {
	transform: scale(1.04);
	filter: drop-shadow(1vh 1vh 1vw #0000006e);
	transition: all 0.5s ease-in-out;
	cursor: url(../img/main.svg) 10 10, auto;
}

.form .google:hover > .fa-google {
	color: white;
}

.form .mail {
	background-color: #e52e20;
	color: white;
	font-family: "Marine Sikona", sans-serif;
	font-weight: lighter;
}
.form .mail:hover {
	background-color: #e52e20;
	color: white;
	transform: scale(1.04);
	filter: drop-shadow(1vh 1vh 1vw #0000006e);
	transition: all 0.5s ease-in-out;
	cursor: url(../img/main.svg) 10 10, auto;
}

.form .mail:hover > .mail {
	color: white;
}

.form h3 {
	font-size: 1.5vw;
}

.form p {
	font-size: 0.7vw;
	margin-top: 6vh;
	font-family: "segoe ui", sans-serif;
}

.fa-google {
	background: conic-gradient(
			from -45deg,
			#ea4335 110deg,
			#4285f4 90deg 180deg,
			#34a853 180deg 270deg,
			#fbbc05 270deg
		)
		73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.fa-facebook-f {
	background-color: white;
	border-radius: 50%;
	padding: 1vh 0.5vw 0 0.5vw;
	color: #0866ff;
	margin-top: -0.7vh;
}
