.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: auto;
	padding: 5vh 10vw;
}

main h1 {
	font-size: 2vw;
	font-weight: bolder;
	margin-bottom: 5vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2vh;
	width: 40%;
	height: auto;
	padding: 10vh 5vw 5vh 5vw;
	background-color: #f8f9fa;
	border-radius: 1vw;
}

.form button {
	font-family: "Marine Sikona", sans-serif;
	font-size: 1vw;
	width: 20vw;
	height: 6vh;
	border-radius: 0.7vw;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
	color: white;
}
.submit-btn {
	background-color: #e52e20;
}
.submit-btn:hover {
	cursor: url(../img/main.svg) 10 10, auto;
}
.email {
	outline: none;
	background-color: #f8f9fa;
	border: none;
	padding: 1vh 1vw;
	width: 20vw;
	font-size: 1vw;
	border-bottom: #e8e9ea solid 0.2vw;
}
.mdp {
	outline: none;
	background-color: #f8f9fa;
	border: none;
	padding: 1vh 1vw;
	width: 20vw;
	font-size: 1vw;
	border-bottom: #e8e9ea solid 0.2vw;
}
.terms {
	font-size: 0.7vw;
	margin-top: 6vh;
	font-family: "segoe ui", sans-serif;
}
