.entete {
	position: sticky;
	width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3vh 10vw 3vh 10vw;
	width: 100%;
	z-index: 1;
	background-color: white;
}

header .header_left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
	user-select: none;
	-webkit-user-drag: none;
}

header .header_left .header_left img {
	width: 1.3vw;
	height: auto;
	margin-top: -0.8vh;
}

header .header_left i {
	font-size: 1.5vw;
}

header .header_left .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

header .header_left .logo img {
	width: 3vw;
	height: auto;
	border-radius: 50%;
}

header .header_left:hover {
	cursor: url(../img/main.svg) 10 10, auto;
}

header .header_left p {
	font-size: 1.5vw;
	font-weight: lighter;
}

header .header_left i {
	font-size: 1.5vw;
	margin-top: -0.5vh;
	font-weight: bold;
}

header .header_right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: auto;
}

header .header_right .icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

header .header_right .icons_right {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 10vw;
	gap: 1vw;
	margin-right: 1vw;
}

header .header_right .icons_right i {
	font-size: 1.5vw;
}

header .header_right .icons_right i:hover {
	cursor: url(../img/main.svg) 10 10, auto;
}

header .header_right .icons_right #search_btn {
	border: none;
	background-color: transparent;
	width: auto;
	height: auto;
}

header .header_right .icons_right .searchInput {
	display: none;
	border: none;
	color: #535353;
	outline: none;
	background-color: #e6e6e6;
	border-radius: 0.5vw;
	padding: 1vh 1vw;
	width: 15vw;
	font-size: 1vw;
}

header .header_right .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

header .header_right .btn .btn_click {
	font-size: 1vw;
	padding: 1vh 1vw;
	border-radius: 0.7vw;
	border: none;
	color: white;
	background-color: #e52e20;
	font-family: "Marine Sikona", sans-serif;
}

header .header_right .btn .btn_click:hover {
	transform: scale(1.05);
	cursor: url(../img/main.svg) 10 10, auto;
}

.menu {
	display: none;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: auto;
	padding: 0 0 5vh 14vw;
	background-color: white;
}

.menu ul {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	list-style: none;
}

.menu ul li {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 1vw;
}

.menu ul li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 1.5vw;
	cursor: url(../img/main.svg) 10 10, auto;
	font-family: "segoe ui";
}

.bx-x {
	display: none;
}

.bx {
	font-size: 3vw;
}

.lien {
	height: auto;
	display: flex;
	background-color: #ede6de;
	justify-content: left;
	align-items: flex-end;
	padding: 1vh 10vw;
}

.lien p {
	font-size: 1vw;
	font-family: "segoe ui", sans-serif;
}
