.autocomplete {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

.autocomplete input {
	font-size: 1vw;
	padding: 1vh 1vw;
	border-radius: 0.7vw;
	border: none;
	background-color: #e6e6e6;
}
