main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.categorie_container {
	display: flex;

	width: 100%;
	height: 100%;
	padding: 1.5vw;
	gap: 1vw;
}

.categorie_container .categorie_left {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: left;
	height: 100%;
	padding: 1.5vw;
	width: 25%;
	/* flex-wrap: wrap; */
	gap: 7vh;
}

.categorie_container .categorie_right {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: left;
	width: 100%;
	height: 100%;
	padding: 1.5vw;
	gap: 1vh 4vw;
}

.categorie_container .categorie_right hr {
	width: 100%;
	height: 0.3vh;
	background-color: black;
	border-radius: 5vw;
	border: none;
	margin-bottom: 2vh;
}

.categorie_container .categorie_left p {
	font-size: 1.7vw;
}

.categorie_container .categorie_left ul {
	display: flex;
	flex-direction: column;
	gap: 1vw;
}

.categorie_container .categorie_left ul li {
	display: flex;
}

.categorie_container .categorie_left ul li a {
	text-decoration: none;
	list-style: none;
	font-size: 1vw;
	color: black;
	font-family: "segoe ui", sans-serif;
}

.categorie_container .categorie_left ul li a:hover {
	cursor: url(../img/main.svg) 10 10, auto;
}

.categorie_container .categorie_right .title_cat_right {
	font-size: 1.7vw;
	display: flex;
	gap: 0.5vw;
	align-items: center;
}

.categorie_container .categorie_right .title_cat_right::before {
	content: "";
	display: block;
	width: 3vw;
	height: 0.3vh;
	background-color: black;
	border-radius: 5vw;
}

.categorie_container .categorie_right .title_cat_right::after {
	content: "";
	display: block;
	width: 3vw;
	height: 0.3vh;
	border-radius: 5vw;
	background-color: black;
}

.categorie_container .card_menu_container {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	flex: 1 1 auto;
	gap: 1vw;
}

.card_menu_container .card_menu {
	display: flex;
	flex-direction: column;
	padding: 3vh 1vw;
	gap: 1vw;
	border: black solid 0.025vw;
	min-width: 10vw;
	max-width: 18vw;
	border-radius: 1vw;
	width: 10rem;
	transition: all 0.25s ease-in-out;
}

.card_menu_container .card_menu:hover {
	cursor: url(../img/main.svg) 10 10, auto;
	transform: scale(1.05);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

/* .card_menu_container .card_menu img {
	width: 15rem;
	height: auto;
	border-radius: 1vw;
} */

.card_menu_container .card_menu > img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_menu_container .card_menu > i {
	font-size: 1.7vw;
	display: flex;
	justify-content: right;
}

.card_menu_container .card_menu > i:hover {
	cursor: url(../img/main.svg) 10 10, auto;
}

.active {
	background-color: #ffa69f;
}
.card_menu_container .card_menu > p {
	font-size: 1vw;
	text-align: center;
}

.selected {
	font-weight: bold;
}

.favory-icon {
	transition: color 0.3s ease;
}

.favory-icon.active_favory {
	color: #ffa69f;
}
